*{
    max-height: 1500px;
}
// MapHeader
.ry_border-bottom{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #ec8a53;
    padding: 10px;
}
.Header-content{
    margin: 50px;
}
// MapImg
.ry_img{
    max-height: 800px;
    max-width: 500px;
}
// MapInfo
.ry_Info{

}