$orange: #df641c;
$main: $orange;
$theme-colors: (
  'main': $main,
);

$whiteyellow: #ECDDB8;
$main2: $whiteyellow;
$theme-colors: (
  'whiteyellow': $whiteyellow,
);


$spacer: 1rem;
$spacers: (
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 7,
  ),
);
$font-size-base: 1rem;
$font-size-xl: $font-size-base * 1.25;
$font-size-lg: $font-size-base * 1.125;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;
$font-sizes: (
  'xl': $font-size-xl,
  'lg': $font-size-lg,
  'base': $font-size-base,
  'sm': $font-size-sm,
  'xs': $font-size-xs,
);
