<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Reqlired meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .pj_border-bottom-product {
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: #ec8a53;
        text-align: center;
        padding: 10px;
      }
      .container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
      }
      .container-1 input#search:hover,
      .container-1 input#search:focus,
      .container-1 input#search:active {
        outline: none;
        background: #ffffff;
      }
      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="pj_border-bottom-product">產品列表</h1>
      <div class="mb-4">
        <div class="row no-gutters">
          <div class="col-md-6">
            <h4>茶種</h4>
            <div class="box">
              <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
              </div>
            </div>

            <div class="d-flex">
              <p>price</p>
              <section class="range-slider">
                <span class="rangeValues"></span>
                <input value="500" min="0" max="999999" step="0" type="range" />
              </section>
            </div>
          </div>

          <div class="col-md-6 ">
            <h4>茶種</h4>
            <div class="pj_container">
              <ul>
                <li>綠茶</li>
                <li>紅茶</li>
                <li>烏龍茶</li>
                <li>東方美人茶</li>
                <li>鐵觀音茶</li>
                <li>普洱茶</li>
                <li>金萱茶</li>
              </ul>
            </div>

            <h4>風味</h4>
            <div class="d-flex">
              <ul>
                <li>風味</li>
                <li>風味</li>
                <li>風味</li>
                <li>風味</li>
                <li>風味</li>
                <li>風味</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- -------------產品圖 ---------------------->
      <div class="card-deck">
        <div class="card">
          <img src="../../images/01.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">古典日月英式紅茶 - 風華五十年 280g</h5>
            <p class="card-text">
              風華絕代五十年，山蔭長歌採茶人，香濃韻清照顏色 ......
            </p>
          </div>
          <div class="card-footer d-flex">
            <div>NT $320</div>
            <img src="../../images/shopping_cart-24px.svg" alt="" />
          </div>
        </div>
        <div class="card">
          <img src="../../images/01.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">古典日月英式紅茶 - 風華五十年 280g</h5>
            <p class="card-text">
              風華絕代五十年，山蔭長歌採茶人，香濃韻清照顏色 ......
            </p>
          </div>
          <div class="card-footer d-flex">
            <div>NT $320</div>
            <img src="../../images/shopping_cart-24px.svg" alt="" />
          </div>
        </div>
        <div class="card">
          <img src="../../images/01.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">古典日月英式紅茶 - 風華五十年 280g</h5>
            <p class="card-text">
              風華絕代五十年，山蔭長歌採茶人，香濃韻清照顏色 ......
            </p>
          </div>
          <div class="card-footer d-flex">
            <div>NT $320</div>
            <img src="../../images/shopping_cart-24px.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
