.virticle-rl {
  writing-mode: vertical-rl;
}

.outline-0 {
  outline: none;
  
  &:focus {
    outline: none;
  }
}

.opacity {
  opacity: 0;
}

@each $size-name, $font-size in $font-sizes {
  .fs-#{$size-name} {
    font-size: #{$font-size} !important;
  }
}

@each $key, $val in $grid-breakpoints {
  .border-top-#{$key}-0 {
    @media(min-width: $val) {
      border-top: none !important; 
    }
  }
  .border-bottom-#{$key}-0 {
    @media(min-width: $val) {
      border-bottom: none !important;
    }
  }
  .border-left-#{$key}-0 {
    @media(min-width: $val) {
      border-left: none !important;
    }
  }
  .border-right-#{$key}-0 {
    @media(min-width: $val) {
      border-right: none !important;
    }
  }
}