$bar-width: 60px;
.sy_main-bar {
  display: flex;
  position: fixed;
  width: $bar-width;
  height: 100vh;
  right: 0;
  top: 0;
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.18);
  .main-bar-brand {
    position: absolute;
    top: calc(50% - 60px);
  }
}

@include media-breakpoint-down(md) {
  .sy_main-bar {
    width: 100vw;
    height: $bar-width;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
    .main-bar-brand {
      position: static;
    }
  }
}
