.yz-header {
  border: 1px solid #bdbdbd75;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-top: 100px;
}
.login {
  margin-bottom: 60px;
  text-align: center;
}
.yz-form-control {
  width: 450px;
}
.btn-login {
  width: 310px;
  height: 75px;
  color: #ffffff;
  background-color: #df641c;
  border-color: #df641c;
  border-radius: 10px;
  margin-left: 25px;
}
.yz-froget {
  margin-top: 10px;
}
.registered {
  margin-top: 10px;
}
.fb {
  width: 450px;
  height: 40px;
  color: #ffffff;
  background-color: #156ff5;
  border-color: #156ff5;
  border-radius: 10px;
}
.gmail {
  width: 450px;
  height: 40px;
  color: #ffffff;
  background-color: #f13636;
  border-color: #f13636;
  border-radius: 10px;
  margin-top: 10px;
}
